body, html {
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:'poppins', sans-serif;
}
#search {
    color: #BF6415;
}

#searchButton {
    background-color: #BF6415; /* Cambia el color de fondo */
    border-color: #BF6415;     /* Cambia el color del borde */
    color: white;              /* Cambia el color del texto */
}

#offcanvasDarkNavbarLabel {
    color: #BF6415;
}

#naver {
    background-color: #024059; /* Cambia el color de fondo */
    border-color: #024059;     /* Cambia el color del borde */
}

#naver .navbar-brand {
    color: #D8B08C;
}

#logo {
    margin: 0 0 -7px -1025px;
}

#offcanvasDarkNavbar {
    background-color: #BF6415;
    color: #FFFFFF; /* Cambia el color del texto en el offcanvas */
}

#background {
    height: 100vh;
    width: auto;
    background: url(./img/portada.jpg) no-repeat center;
    background-size: cover;
}
#logo2
{
    margin: 0 6 -7px -1255px;
    border-color: #FFFFFF;
}
#lolo
{
    text-align: center;
}
#agFondo
{
    background: url("./img/fondo2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#agFondo2
{
    background: url("./img/fondo2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calendar {
    max-width: 600px;
    margin: 0 auto;
}
#calendar th, #calendar td {
    text-align: center;
    padding: 10px;
}
.bg-light {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.form-select {
    width: 100%;
}

.input-group-text {
    width: 150px;
}
